<div class="container">
  <main role="main" class="pb-3">
    <div class="row pb-3">
      <div class="col-12">
        <div class="text-center">
          <h2>
            <strong>
              阿部 寛の写真集
            </strong>
          </h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <td><strong>映画</strong></td>
              <td colspan="5"><a href="../tetujin28.jpg"><strong>「鉄人28号」</strong></a></td>
            </tr>
            <tr>
              <td><strong>映画</strong></td>
              <td colspan="5"><strong> <a href="../movie/trick.htm">「トリック劇場版」</a></strong></td>
            </tr>
            <tr>
              <td><strong>舞台</strong></td>
              <td colspan="5"><strong> <a href="../shashin/shashin-kan.htm">熱海殺人事件 「阿部ちゃん写真館」</a></strong></td>
            </tr>
            <tr>
              <td><strong>TV <a href="../tv/kamisama.htm"></a></strong></td>
              <td colspan="5"><strong><a href="../tv/kamisama.htm">「神様のいたずら」</a></strong></td>
            </tr>
            <tr>
              <td><strong>映画 <a href="../movie/thirty.htm"></a></strong></td>
              <td colspan="5"><strong> <a href="../movie/tao.htm">「タオの月」</a></strong></td>
            </tr>
            <tr>
              <td><strong>映画</strong></td>
              <td colspan="5"><strong><a href="../movie/thirty.htm">「３０−ｔｈｉｒｔｙ−」</a></strong></td>
            </tr>
            <tr>
              <td><strong>TV</strong></td>
              <td colspan="5"><strong> <a href="../tv/appare.htm">「天晴れ夜十郎」</a></strong></td>
            </tr>
            <tr>
              <td><strong>雑誌</strong></td>
              <td colspan="5"><strong> <a href="../nonno/nonno.htm">メンズノンノ阿部寛</a></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
