<div class="container">
  <main role="main" class="pb-3">
    <div class="row pb-3">
      <div class="col-12">
        <div class="text-center">
          <h2>
            <strong>阿部 寛の映画出演</strong>
          </h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10">
        <p class="pb-3">
          <strong>
            ・「京都国際映画祭2016」で「三船敏郎賞」受賞<br>
            ・第38回日本アカデミー賞「ふしぎな岬の物語」優秀主演男優賞　受賞<br>
            ・第38回日本アカデミー賞
            「柘榴坂の仇討」優秀助演男優賞　受賞<br>
            ・2012年　日本アカデミー賞　「テルマエ・ロマエ」で最優秀主演男優賞受賞<br>
            ・2012年　ブルーリボン賞　　「カラスの親指」「麒麟の翼」「テルマエ・ロマエ」で主演男優賞受賞<br>
            ・2012年　ヨコハマ映画祭　　「テルマエ・ロマエ」で主演男優賞受賞<br>
            ・2012年　日本シアタースタッフ映画祭ＩＮ成城　　「テルマエ・ロマエ」で主演男優賞受賞<br>

            ・2008年公開映画「歩いても歩いても」、「青い鳥」<br>
            ・第63回毎日映画コンクール男優主演賞 受賞<br>

            ・1994年度インディペンデント映画祭プロフェッショナル大賞受賞「凶銃ルガーPO8」
          </strong>
        </p>
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <td width="32%"><strong>2020年公開予定</strong></td>
              <td width="46%"><strong>マレーシア映画「The Garden Of Evening Mists」</strong></td>
              <td width="22%"></td>
            </tr>
            <tr>
              <td><strong>2018年5月18日公開</strong></td>
              <td><strong>「<a href="http://nomitori.jp/" target="_blank">のみとり侍</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2018年1月27日公開</strong></td>
              <td><strong>「<a href="http://inorinomaku-movie.jp/" target="_blank">祈りの幕が下りる時</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2018年3月10日公開</strong></td>
              <td><strong>「<a href="http://www.kitanosakuramori.jp/" target="_blank">北の桜守</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2018年2月24日公開</strong></td>
              <td><strong>「<a href="http://ku-kai-movie.jp/" target="_blank">空海—KU-KAI—</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2017年6月3日公開</strong></td>
              <td><strong>「<a href="http://www.umibenolear.com/" target="_blank">海辺のリア</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2017年5月13日〜5月19日</strong></td>
              <td><strong>蜷川幸雄シアター 第１弾『ジュリアス・シーザー』</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2017年1月28日公開</strong></td>
              <td><strong>「<a href="http://www.koisaika.jp/" target="_blank">恋妻家宮本</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong>
                  2016年11月26日公開
                </strong>
              </td>
              <td><strong>「<a href="http://www.shippu-rondo-movie.jp/" target="_blank">疾風ロンド</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2016年5月21日公開</strong></td>
              <td><strong>「<a href="http://gaga.ne.jp/umiyorimo/" target="_blank">海よりもまだ深く</a>」</strong></td>
              <td><strong>カンヌ国際映画祭「ある視点」部門出品”</strong></td>
            </tr>
            <tr>
              <td><strong>2016年3月公開</strong></td>
              <td><strong><a href="http://everest-movie.jp/" target="_blank">「エヴェレスト 神々の山嶺」</a></strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2014年秋公開</strong></td>
              <td><strong>「ふしぎな岬の物語」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2014年9月20日公開</strong></td>
              <td><strong>「柘榴坂の仇討」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2014年4月26日公開</strong></td>
              <td><strong>「テルマエ・ロマエⅡ」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2014年1月公開</strong></td>
              <td><strong>「トリック劇場版　ラストステージ」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2013年2月23日公開</strong></td>
              <td><strong>「メモリーズ・コーナー」</strong></td>
              <td><strong>日本にて公開</strong></td>
            </tr>
            <tr>
              <td><strong>2013年1月26日公開</strong></td>
              <td><strong> 「つやのよる」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2012年11月23日公開</strong></td>
              <td><strong>「<a href="http://movies.foxjapan.com/crow/" target="_blank">カラスの親指</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2012年4月28日公開</strong></td>
              <td><strong>「テルマエ・ロマエ」</strong></td>
              <td><strong>全国東宝系</strong></td>
            </tr>
            <tr>
              <td><strong>2012年 1月28日公開</strong></td>
              <td><strong>「<a href="http://www.shinzanmono-movie.jp/index.html" target="_blank">麒麟の翼</a>」</strong></td>
              <td><strong>全国東宝系</strong></td>
            </tr>
            <tr>
              <td><strong>2011年 12月23日公開</strong></td>
              <td><strong>「聯合艦隊司令長官 山本五十六」 </strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2011年 6月11日公開</strong></td>
              <td><strong>「奇跡」</strong></td>
              <td><strong>ギャガ</strong></td>
            </tr>
            <tr>
              <td><strong>2011年 9月23日公開</strong></td>
              <td><strong>「僕たちは世界を変えることができない」</strong></td>
              <td><strong>東映</strong></td>
            </tr>
            <tr>
              <td><strong>2012年公開　フランスにて公開</strong></td>
              <td><strong>「メモリーズ・コーナー」</strong></td>
              <td><strong>フランスにて公開</strong></td>
            </tr>
            <tr>
              <td><strong>2011年10月1日公開</strong></td>
              <td><strong>「天国からのエール」</strong></td>
              <td><strong>アスミック・エース</strong></td>
            </tr>
            <tr>
              <td><strong>2011年10月29日公開</strong></td>
              <td><strong>「ステキな金縛り」</strong></td>
              <td><strong>東宝</strong></td>
            </tr>
            <tr>
              <td><strong>2010年10月9日公開</strong></td>
              <td><strong>「死刑台のエレベーター」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong> 2010年5月8日公開</strong></td>
              <td><strong>「劇場版TRICK 霊能力者バトルロイヤル」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2009年5月23日公開</strong></td>
              <td><strong>「<a href="chokolate.htm">チョコレート・ファイター</a>」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2009年3月7日公開</strong></td>
              <td><strong>「<a href="general.htm">ジェネラル・ルージュの凱旋</a>」</strong></td>
              <td><strong>全国東宝系</strong></td>
            </tr>
            <tr>
              <td><strong>2008年11月29日公開</strong></td>
              <td><strong>「<a href="aoitori.htm">青い鳥</a>」 </strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2008年5月10日公開</strong></td>
              <td><strong>「<a href="kakushi.htm">隠し砦の三悪人</a>」 </strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong> 2008年2月9日公開</strong></td>
              <td><strong>「<a href="bachista.htm">チーム・バチスタの栄光</a>」</strong></td>
              <td><strong>全国東宝系</strong></td>
            </tr>
            <tr>
              <td><strong>2008年6月28日</strong></td>
              <td><strong>「歩いても歩いても」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong> 2007年8月公開</strong></td>
              <td><strong>「伝染歌」</strong></td>
              <td><strong>松竹系</strong></td>
            </tr>
            <tr>
              <td><strong>2007年公開</strong></td>
              <td><strong>「<a href="mouryou.htm">魍魎の匣</a>」</strong></td>
              <td><strong>全国単館系</strong></td>
            </tr>
            <tr>
              <td><strong> 2007年10月27日公開</strong></td>
              <td><strong>「自虐の詩」</strong></td>
              <td><strong>シネクイント、シネリーブル他</strong></td>
            </tr>
            <tr>
              <td><strong> 2008年2月公開</strong></td>
              <td><strong>「CHOCOLATE」 (タイ映画)</strong></td>
              <td><strong>アジアにて公開</strong></td>
            </tr>
            <tr>
              <td><strong>2007年9月8日公開</strong></td>
              <td><strong>「HERO」</strong></td>
              <td><strong>全国東宝系</strong></td>
            </tr>
            <tr>
              <td><strong>2007年4月28日公開</strong></td>
              <td><strong>「真救世主伝説　北斗の拳　ラオウ伝　激闘の章」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2007年4月7日公開</strong></td>
              <td><strong>「<a href="taite.htm">大帝の剣</a>」</strong></td>
              <td><strong>全国東映系</strong></td>
            </tr>
            <tr>
              <td><strong>2007年2月公開</strong></td>
              <td><strong>「バブルへＧＯ！！　タイムマシンはドラム式」</strong> </td>
              <td><strong>全国東宝系</strong></td>
            </tr>
            <tr>
              <td><strong> 2006年11月公開</strong></td>
              <td><strong>「アジアンタムブルー」</strong></td>
              <td><strong>角川</strong></td>
            </tr>
            <tr>
              <td><strong>2006年6月公開</strong></td>
              <td><strong>「バルトの楽園」 </strong></td>
              <td><strong>全国東映系</strong></td>
            </tr>
            <tr>
              <td><strong> 2006年2月11日公開</strong></td>
              <td><strong>「サイレン」</strong></td>
              <td><strong>全国東宝洋画系</strong></td>
            </tr>
            <tr>
              <td><strong>2006年3月公開</strong></td>
              <td><strong>「北斗の拳 ラオウ伝 殉愛の章」</strong></td>
              <td><strong>全国東宝洋画系</strong></td>
            </tr>
            <tr>
              <td><strong>2005年11月19日公開</strong></td>
              <td><strong>「奇談」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2006年6月10日公開</strong></td>
              <td><strong>「トリック劇場版2」</strong></td>
              <td><strong>全国東宝系</strong></td>
            </tr>
            <tr>
              <td><strong>2005年7月16日公開</strong></td>
              <td><strong>「姑獲鳥の夏（うぶめのなつ）」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2005年3月19日公開</strong> </td>
              <td>
                <strong>
                  映画「ハサミ男」 原作 殊能将之<br>
                  警視庁・犯罪心理分析官役で出演
                </strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2005年公開</strong></td>
              <td><strong>「鉄人28号」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2004年9月公開</strong> </td>
              <td>
                <strong>
                  「SURVIVE
                  STYLE5+」
                </strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2004年4月17日公開</strong></td>
              <td>
                <strong>
                  「恋人はスナイパー」
                </strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2004年3月13日公開</strong></td>
              <td><strong> 「花とアリス」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2004年11月公開</strong></td>
              <td><strong><a href="amemasu.htm">「雨鱒の川」</a></strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2003年11月29日</strong></td>
              <td><strong>「監督感染　ＫＥＮＥＮＮ」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2002年</strong><strong>11月9日公開</strong></td>
              <td><strong>「トリック」</strong></td>
              <td><strong>全国東宝系</strong></td>
            </tr>
            <tr>
              <td><strong>2001年12月公開</strong></td>
              <td height="14"><strong>「血を吸う宇宙」</strong></td>
              <td height="14">　</td>
            </tr>
            <tr>
              <td><strong>2001年秋公開予定</strong>　</td>
              <td><strong><a href="platonic.htm">「プラトニックセックス」</a></strong></td>
              <td><strong>東宝</strong></td>
            </tr>
            <tr>
              <td><strong>2001年6月中旬公開</strong></td>
              <td><strong>「RUSH!」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2000年9月2日</strong></td>
              <td><span><strong>「新GONIN」</strong></span></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2000年10月香港映画祭にて</strong></td>
              <td><a href="tokyo.htm"><strong>「東京攻略(原題)」("Tokyo Riders")</strong></a> </td>
              <td><strong>香港映画</strong></td>
            </tr>
            <tr>
              <td><strong>2000年5月公開</strong></td>
              <td><strong>「ヒステリック」(テアトル新宿にて）</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2000年公開</strong></td>
              <td><strong>「しあわせ家族計画」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2000年1月</strong></td>
              <td><strong>「発狂する唇」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>2000年正月</strong></td>
              <td><strong>香港の正月映画「Tokyou　Raidders」</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>1999年12月公開</strong></td>
              <td><strong>「ゴジラ２０００ミレニアム」</strong></td>
              <td><strong>東宝</strong></td>
            </tr>
            <tr>
              <td><strong>1999年2月公開</strong></td>
              <td><strong><a href="shigoto.htm">「必殺仕事人 三味線屋 勇次」</a></strong></td>
              <td><strong>松竹系</strong></td>
            </tr>
            <tr>
              <td><strong>1998年7月公開</strong></td>
              <td><strong><a href="french.htm">「フレンチドレッシング」</a></strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>1998年2月公開</strong></td>
              <td><strong><a href="orikin5.htm">「プロゴルファー織部金次郎5」</a></strong></td>
              <td><strong>東映</strong></td>
            </tr>
            <tr>
              <td><strong>1997年11月公開</strong></td>
              <td><strong><a href="tao.htm">「タオの月」</a></strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>1997年9月公開</strong></td>
              <td><strong><a href="thirty.htm">「３０−ｔｈｉｒｔｙ−」</a></strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>1997年2月公開</strong></td>
              <td><strong><a href="orikin4.htm">「プロゴルファー織部金次郎4」</a></strong></td>
              <td><strong>東映</strong></td>
            </tr>
            <tr>
              <td><strong>1996年11月公開</strong></td>
              <td><strong><a href="kaze.htm">「風のかたみ」</a></strong></td>
              <td><strong>東宝</strong></td>
            </tr>
            <tr>
              <td><strong>1996年6月公開</strong></td>
              <td><strong>「天才エリちゃん」アニメ映画パパの声</strong></td>
              <td><strong> </strong></td>
            </tr>
            <tr>
              <td><strong>1996年5月公開</strong></td>
              <td><strong>「薔薇ホテル」</strong></td>
              <td><strong> </strong></td>
            </tr>
            <tr>
              <td><strong>1996年4月公開</strong></td>
              <td><strong>「女賭博師花吹雪お涼」</strong></td>
              <td><strong> </strong></td>
            </tr>
            <tr>
              <td><strong>1995年10月公開</strong></td>
              <td><strong>「人でなしの恋」</strong></td>
              <td><strong>松竹</strong></td>
            </tr>
            <tr>
              <td></td>
              <td><strong>「キャベツの日曜日」</strong></td>
              <td><strong>東宝</strong></td>
            </tr>
            <tr>
              <td><strong>1995年9月公開</strong></td>
              <td><strong>「プロゴルファー織部金次郎3」</strong></td>
              <td><strong>東映</strong></td>
            </tr>
            <tr>
              <td><strong>1995年4月公開</strong></td>
              <td><strong>「サンクチュアリ」</strong></td>
              <td><strong>東宝</strong></td>
            </tr>
            <tr>
              <td><strong>1994年7月公開</strong></td>
              <td><strong>「ヤマトタケル」</strong></td>
              <td><strong>東宝</strong></td>
            </tr>
            <tr>
              <td><strong>1994年6月公開</strong></td>
              <td><strong>「ＲＡＭＰＯ・１」</strong></td>
              <td><strong>松竹</strong></td>
            </tr>
            <tr>
              <td><strong>1994年5月公開</strong></td>
              <td><strong>「プロゴルファー織部金次郎2」</strong></td>
              <td><strong>東映</strong></td>
            </tr>
            <tr>
              <td><strong>1994年4月公開</strong></td>
              <td><strong>「しのいだれ」</strong></td>
              <td><strong>大映</strong></td>
            </tr>
            <tr>
              <td><strong>1994年1月公開</strong></td>
              <td><strong>「凶銃ルガーPO8」</strong></td>
              <td><strong>エクセレントフィルム</strong></td>
            </tr>
            <tr>
              <td><strong>1993年 5月公開</strong></td>
              <td><strong>「リング　リング　リング」</strong></td>
              <td><strong>東映</strong></td>
            </tr>
            <tr>
              <td><strong>1992年11月公開</strong></td>
              <td><strong>「プロゴルファー織部金次郎」</strong></td>
              <td><strong>東映</strong></td>
            </tr>
            <tr>
              <td><strong>1990年 2月公開</strong></td>
              <td><strong>「孔雀王」（初の主演映画・香港との合作）</strong></td>
              <td><strong>東宝東和</strong></td>
            </tr>
            <tr>
              <td><strong>1989年 4月公開</strong></td>
              <td><strong>「ＹＡＷＡＲＡ！」</strong></td>
              <td><strong>東宝</strong></td>
            </tr>
            <tr>
              <td><strong>1988年 1月公開</strong></td>
              <td><strong>「はいからさんが通る」</strong></td>
              <td><strong>東映</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
