<div class="container">
  <main role="main" class="pb-3">
    <div class="row pb-3">
      <div class="col-12">
        <div class="text-center">
          <h2>
            <strong>管理者のページ</strong>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <strong>≪ポイント１≫</strong><br />
        Webフレームワークとして<b>Angular</b>を採用し、<b>SPAサイト</b>を実現した。<br />
        <br />
        <strong>≪ポイント２≫</strong><br />
        Webフレームワークとして<b>ASP.NET Core</b>を採用した。<br />
        <br />
        ASP.NET Coreを採用するモチベーションはその高速性。<br />
        どれほど高速であるかはベンチマークを参照<br />
        <a href="https://www.techempower.com/benchmarks/#section=data-r18&hw=ph&test=json&a=2&f=zhavon-zijnjz-zik0zj-zik0zj-zik0zj-zik0zj-hra0hr-zik0zj-zik0zj-e7">
          Web Framework Benchmarks
        </a><br /><br />
        <strong>≪ポイント３≫</strong><br />
        棲み分けとしては、Angularはフロントとバックエンドを担当し、<br />
        ASP.NET CoreはWebAPIサーバーとしてデータの更新業務を担当する。<br />
        開発言語は共に相性が良い<b>C#</b>と<b>TypeScript</b>。<br />
        <br />
        <strong>≪ポイント４≫</strong><br />
        ・オリジナルの雰囲気を尊重しつつ、レスポンシブル対応を行った。<br /><br />

        <h5>≪システム構成≫</h5>
        <br />
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <th width="20%">ホスティング：</th>
              <td width="80%">Sakura VPS</td>
            </tr>
            <tr>
              <th>WebサーバーOS：</th>
              <td>Ubuntu</td>
            </tr>
            <tr>
              <th>Webフレームワーク：</th>
              <td>ASP.NET Core MVC, <b>Angular</b></td>
            </tr>
            <tr>
              <th>開発言語：</th>
              <td>C#, <b>TypeScript</b></td>
            </tr>
            <tr>
              <th>Webサーバー：</th>
              <td>Kestrelで実行されるASP.NETに対して、nginxでリバースプロキシを構成</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </main>
</div>
